
<!doctype html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>SS todo listing</title>
</head>

<body>

    This article explains the concept of To-Do Lists in a practical way. After reading it, you will understand the basics of this powerful effectiveness and management tool.

    What are To-Do Lists?
    Everyone has times when they are busy. This can be a result of time restraints, too many interruptions or too many tasks. Particularly in the latter case, it helps to work with the so-called To-Do Lists.
    
    Such lists provide insight into what still has to be done, though also help to properly prioritise matters. It is important that To-Do Lists are used correctly and not function as a type of waste bin by putting all kinds of things on it which you will never get around to doing.
    
    
    Do you want unlimited and ad-free access?   FIND OUT MORE
    
    To-Do Lists are not the dozens of yellow sticky notes covering a desk or computer screen. It has to actually generate a result, turning it into a serious time management tool.
    
    Top down
    Top down and bottom up are terms used in organisation management, indicating the direction of the decision making process.
    
    Top down indicates that management makes most of the decisions and implements these from the top down. Bottom up is a method to include the employees in the decision making process as well. In the context of To-Do Lists, it has nothing to do with the decision-making process, but with the distribution of tasks and the way in which the work is organised.
    
    A person who has a job in which his/ her tasks are clearly defined on a day-to-day basis, could benefit from using a top-down To-do list. This means that he/ she should make a list of the tasks that he/ she wants to do the following working day. The best moment to do this is at the end of the day. It should not take longer than 15 minutes.
    
    Buffer time
    All tasks should be written down on a sheet of paper. Then you write down the time that you think is needed to perform the task. Tasks that you think will take longer than one hour should be divided into two half-hour tasks.
    
    A working day of 8 hours should not have more than 6 hours of planned tasks, as so-called buffer time should still be left over in the schedule. Jobs that have priority will always be added throughout the day.
    
    After you have written down the time indication, the tasks need to be prioritised; the most important task should be listed at the top and the least important one should be listed at the bottom. Only the tasks for the following day should be included on the To-do list.
    
    This requires practice and daily discipline. The following working day, you will start working based on the To-Do list you have drawn up yourself and will cross out the completed tasks off the list. This provides a clear overview as well as a satisfying feeling. At the end of the working day, a similar list will be drawn up for the following day. Taking buffer time into account has a stimulating effect. Furthermore, this will make it easier to complete all the tasks.
    
    Bottom up
    Of course, not every job has a fixed pattern and the day can also be filled with tasks which are put on your desk every hour. A To-Do list can also help in this case. You should draw up a bottom-up To-do list.
    
    The goal is to gain insight in all the tasks that need to be done and to have a satisfied feeling at the end of the day because of all the tasks you have completed. This way of working costs approximately 15 minutes a day and requires discipline. It can be used in two ways; during the day or at the end of the day.
    
    All the completed tasks are written down and the time that was needed to complete them should be added next to the task. This provides insight for the employee as well as for their colleagues and supervisor. It is not always clear what a person is working on in a hectic work environment. This time recording method will immediately provide an overview.
    
    Combination
    A combination of top down and bottom up To-do list is certainly an option as well. This in an excellent option for work which partly consists of pre-determined regular tasks and partly consists of tasks which vary on a daily basis.
    
    The regular tasks are written on the To-do list, along with the time you think they will take. Tasks that come in throughout the day are written beneath the regular ones. Also include the required time. This creates an overview of all the tasks which have been completed and it forces someone to think about how to plan the following day.
    
    Pitfalls of To-Do Lists
    Working with To-Do Lists is easier said than done. There are many pitfalls people can stumble into. The most common ones are listed below:
    
    Do not list tasks alphabetically; it is better to put the task which needs to be completed first at the top of the list.
    Do not work with multiple To-do lists; this can become distracting and it will be bad for your motivation when nothing gets done.
    Do not add vague and/or too large tasks to the list; ‘finish report’ should be formulated more precisely and divided into sub-tasks, this will ensure that it is clear which parts still need to be written. The time indication will help in this process.
    Do not put too many tasks on a single To-do list; add all the times which are listed next to the tasks up and take approximately 20% buffer time into account for tasks which added throughout the day.
    To-Do Lists tips
    To-Do Lists are only intended to be used for the short-term; in fact, they are intended for the next working day. Everything on it that is for later in the week, can be deleted. In practice, it turns out that not everything can be completed and that is bad for motivation. The best solution is to add long-term tasks to a schedule or write them down in a diary.
    
    Another tip is to really make time for each task and to actually complete each task. Often, there are external interruptions, such as colleagues stopping by for a chat, phone calls or customer interactions. By including buffer time, it will be less annoying that these interruptions occur.
    
    And the last tip concerns larger tasks. Tasks that take longer than one hour should be divided into sub-tasks of a half hour each. The sub-tasks can then be distributed over the day or week. This will motivate someone to get to work without losing sight of things. It is also better to alternate longer tasks with shorter tasks. Crossing a (sub)task off the list provides satisfaction in your work.
    Get Toolshero updates on new methods, models and theories!  JOIN US
    
    It’s Your Turn
    What do you think? What are your experiences with To-do lists? Do you recognize the practical explanation or do you have more suggestions? What are your success factors for good time and task management?
    
    Share your experience and knowledge in the comments box below.
    
    More information
    Conley, K., & Carpenter, J. (2007, March). Towel: Towards an Intelligent To-Do List. In AAAI Spring Symposium: Interaction Challenges for Intelligent Assistants (pp. 26-32).
    Gil, Y., & Ratnakar, V. (2008, January). Towards intelligent assistance for to-do lists. In Proceedings of the 13th international conference on Intelligent user interfaces (pp. 329-332). ACM.
    Kreifelts, T., Hinrichs, E., & Woetzel, G. (1993). Sharing to-do lists with a distributed task manager. In Proceedings of the Third European Conference on Computer-Supported Cooperative Work 13–17 September 1993, Milan, Italy ECSCW’93 (pp. 31-46). Springer.




</body>

</html>
